.section {
    &__about-vivakshaa {
        h2 {
            font-weight: 400;
        }
        .featurette-heading {
            margin-top: 7rem;
            font-size: 50px;
        }
        .lead {
            font-size: 1.25rem;
            font-weight: 300;
        }

    }
}